doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="http://www.visjs.org/dist/vis.js")
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="/scripts/chordFunctions.js")
    script(src="/socket.io/socket.io.js")
    script(src="/scripts/chatFunctions.js")
  body
    block content
